:root{
    --backgroundColor: #fff;
    --mainColor: #efefef;
    --secondaryColor: #bbbbbb;

    --borderColor: #c1c1c1;

    --mainText: #000000;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292e;
    --accentColor1: #fc6058;
    --accentColor2: #fec02f;
    --accentColor3: #2aca3e;

    --previewBG: rgba(255, 255, 255, .9);
    --previewShadow: #d7d0d0;

    --buttonColor: black;

}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

body *{
    transition: .3s;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
    color:#17a2b8
}

h1 { font-size: 56px}
h2 { font-size: 36px}
h3 { font-size: 28px}
h4 { font-size: 24px}
h5 { font-size: 20px}
h6 { font-size: 16px}

.s1{
    background-color: var(--backgroundColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
    height: 100%;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--mainColor);
    border: 1px solid var(--borderColor);
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 50px;

    -webkit-box-shadow: 21px 21px 20px -1px rgba(0,0,0,0.88);
    box-shadow: 21px 21px 20px -1px rgba(0,0,0,0.88);
}

.main-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column';
}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondaryColor);
}

.links-wrapper{
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            'main-button about-button projects-button publications-button contact-button';
}

.page-links{
    margin-bottom: -1px;
    margin-right: -1px;
    padding: 5px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: var(--mainText);
}

.page-links:hover{
    background-color: var(--previewBG);
    border: 1px solid var(--mainText);
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color: #fc6058;
}

#dot-2{
    background-color: #fec02f;
}

#dot-3{
    background-color: #2aca3e;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}


#profile_pic{
    display: block;
    margin: 0 auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#theme-option-wrapper{
    display: flex;
    justify-content: center;

}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;
}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #78866b;
}

#purple-mode{
    background-color: #7e4c74;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 0;
    padding-bottom: 50px;
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 150px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 300px;
    height: 150px;
    border: 2px solid #17a2b8;
    background-color: var(--previewBG);
    padding: 15px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl{
    top:-5px;
    left:-5px;
}

#corner-tr{
    top:-5px;
    right:-5px;
}

#corner-bl{
    bottom:-5px;
    left:-5px;
}

#corner-br{
    bottom:-5px;
    right:-5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 50px;
    gap:100px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}

#social_img{
    width: 100%;
}


.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post{
    border:1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview{
    background-color: white;
    padding: 15px;
}

.post-title{
    color: black;
    margin: 0;
}

.post-intro{
    color: #4b5156;
    font-size: 14px
}

.publications-container{
    display: block;
    align-content: center;
    text-align: center;
}

.pub-type{
    color: var(--accentColor1);
    margin-bottom: -20px
}

.pub-year{
    background-color: var(--previewBG);
    padding: 5px;
;
    margin-left: 30px;
    margin-right: 30px;
    color: var(--secondaryText)
}

.pub-title{
    font-size: 12px;
    font-weight: bold;
    color: var(--mainText);
    align-content: flex-start;
}

.pub-authors{
    font-size: 12px;
    font-style: italic;
    color: var(--mainText);
    align-content: flex-start;
}

.pub-note{
    color: var(--accentColor3);
    font-size: 12px;
}

.pub-journal{
    font-size: 12px;
    color: var(--mainText);
}

.pub-list{
    margin-left: 50px;
    margin-bottom: 10px;
    margin-right: 50px;
    text-align: left;
}



#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

#contact-form label{
    line-height: 2.7em;
}

#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;

}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: var(--buttonColor);
    border:none;
}

@media screen and (max-width:1200px){
    .main-container{
    width: 95%;
}
}

@media screen and (max-width:800px){
    .main-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column';
    }
    .right-column{
        justify-content: center;
    }

    .links-wrapper{
        margin: 8px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'main-button about-button projects-button'
            'publications-button contact-button .'
    }

    #id-main{border-bottom: 1px solid var(--mainText)}
    #id-about{border-bottom: 1px solid var(--mainText)}
    #id-projects{border-bottom: 1px solid var(--mainText)}
}

