@import url("about.css");
@import url("home.css");
@import url("contact.css");
@import url("projects.css");
@import url("publications.css");
@import url("slideshow.css");

:root{
    --backgroundColor: #fff;
    --mainColor: #efefef;
    --secondaryColor: #bbbbbb;

    --borderColor: #c1c1c1;

    --mainText: #000000;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292e;
    --accentColor1: #fc6058;
    --accentColor2: #fec02f;
    --accentColor3: #2aca3e;

    --previewBG: rgba(255, 255, 255, .9);
    --previewShadow: #d7d0d0;

    --buttonColor: black;

}

html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}

body *{
    transition: .3s;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
    color:#17a2b8
}

ul { margin: 5px; }

h1 { font-size: 56px}
h2 { font-size: 36px}
h3 { font-size: 28px}
h4 { font-size: 24px}
h5 { font-size: 20px}
h6 { font-size: 16px;
     margin: 5px;}

.s1{
    background-color: var(--backgroundColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
    min-height: 100vh;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--mainColor);
    border: 1px solid var(--borderColor);
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 50px;

    -webkit-box-shadow: 21px 21px 20px -1px rgba(0,0,0,0.88);
    box-shadow: 21px 21px 20px -1px rgba(0,0,0,0.88);
}

.main-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column';
}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondaryColor);
}

.links-wrapper{
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            'main-button about-button projects-button publications-button contact-button';
}

.page-links{
    margin-bottom: -1px;
    margin-right: -1px;
    padding: 15px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 1000;
    font-size: 20px

}

.page-links:hover{
    background-color: var(--previewBG);
    border: 1px solid var(--mainText);
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color: #fc6058;
}

#dot-2{
    background-color: #fec02f;
}

#dot-3{
    background-color: #2aca3e;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 90px; /* Place the button at the bottom of the page */
  right: calc(50% - 570px); /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 2px solid var(--borderColor); /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--backgroundColor); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media screen and (max-width:1200px){
    .main-container{
    width: 95%;
}
    #myBtn {
        right: 40px;
    }

}

@media screen and (max-width:800px){
    .main-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column';
    }
    .right-column{
        justify-content: center;
    }

    .links-wrapper{
        margin: 8px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'main-button about-button'
            'publications-button projects-button'
    }

    #id-main{border-bottom: 1px solid var(--mainText)}
    #id-about{border-bottom: 1px solid var(--mainText)}
}

