
:root{
	--backgroundColor: #7a638a;
	--mainColor: #564662;
	--secondaryColor:#382a3f;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBG: rgba(122, 92, 133, 0.88);
	--previewShadow:#2b202f;


	--buttonColor:#8534a3;


}